<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pointillizer!</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
        <script type="text/javascript"> 
            function showHideOptions() {
                var x = document.getElementById("options");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function showHide() {
                var x = document.getElementById("loadingimage");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <script src="{% static "modernizr_touchevents.js" %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <body>
    <div class="main">
        <!-- Title section -->
        <div class="title">
        <h1>Pointillizer!</h1>
        <p>
        <a href={% url "info" guid_id=guid_id %}>Info</a>
        &nbsp; &nbsp; &nbsp;
        <a href={% url "gallery" guid_id=guid_id %}>Gallery</a>
        &nbsp; &nbsp;
        <a href={% url 'upload' guid_id=guid_id %}>Try it!</a>
        </p>
        </div>

        <!-- Image upload section-->
        <div class="image_title"><h2>Upload an image:</h2></div>
        <button id="showhidebutton" onclick="showHideOptions()">show/hide optional settings</button>
        <form action="{% url "upload" guid_id=guid_id %}" method="post" enctype="multipart/form-data" id="form">

            <p><input type="file" name="docfile" id="button" style="width: 200px" />
            <div id="options" style="display:none">
                <p><select id="button2" name="detail">
                    <option value="balanced" selected >(optional) choose a detail level</option>
                    <option value="balanced">Balanced (default)</option>
                    <option value="fine">Fine</option>
                    <option value="ultrafine">Ultrafine</option>
                    <option value="coarse">Coarse</option>
                    <option value="uniform">Uniform</option>
                </select>
                <p><select id="button2" name="colormap">
                    <option value="none" selected >(optional) choose a colormap</option>
                    <option value="none">Original (default)</option>
                    <option value="cyanotype">Cyanotype</option>
                    <option value="sepia">Sepia</option>
                    <option value="noir">Noir</option>
                    <option value="b&w">Black and White</option>
                </select>
                <p><select id="button2" name="enhancement">
                    <option value="none" selected >(optional) image adjustment</option>
                    <option value="none">None (default)</option>
                    <option value="contrast1">Contrast (moderate)</option>
                    <option value="contrast2">Contrast (extreme)</option>    
                    <option value="color1">Color (moderate)</option>
                    <option value="color2">Color (extreme)</option>
                    <option value="both1">Contrast+Color (moderate)</option>
                    <option value="both2">Contrast+Color (extreme)</option>
                </select>
            </div>
            <p><input type="submit" value="Upload!" id="button" onclick="showHide()"></p>
        </form>
            <div id="loadingimage" class="blink" style="display:none">
                Loading, please wait...
            </div>

        <!-- List of uploaded images -->
        <div class="image_title"><h2>Your Images:</h2></div>
        <!--(User {{ guid_id }})-->
        {% load thumbnail %}
        {% if documents %}
            <div class="link_text"><em>Copy this <a href="{% url "upload" guid_id=guid_id %}">link</a> to return here later</em>
            </div><br>
                {% for document in documents %}
                    {% thumbnail document.docfile.url "600x600" crop="center" as im %}
                    <a href="{{ document.docfile.url }}"><img src="{{ im.url }}" width="300" height="300"></a>
                    {% endthumbnail %}
                    <br>
                {% endfor %}
        {% else %}
            <p>No images yet, upload one!</p>
        {% endif %}
    </div>
    </body>

</html>
