<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pointillizer!</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
        <script type="text/javascript"> 
            function showHide() {
                var x = document.getElementById("loadingimage");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <meta name="viewport" content="width=device-width">
    <body>
    <div class="main">
        <!-- Title section -->
        <div class="title">
        <h1>Pointillizer!</h1>
        <p>
        <a href={% url "info" guid_id=guid_id %}>Info</a>
        &nbsp; &nbsp; &nbsp;
        <a href={% url "gallery" guid_id=guid_id %}>Gallery</a>
        &nbsp; &nbsp;
        <a href={% url 'upload' guid_id=guid_id %}>Try it!</a>
        </p>
        </div>

        <!-- Image upload section-->
        <h2>Upload an image:</h2>
        <form action="{% url "upload" guid_id=guid_id %}" method="post" enctype="multipart/form-data" id="form">

            <p><input type="file" name="docfile" id="button" style="width: 200px" />
            <p><select id="button" name="setting">
                  <option value="balanced" selected >(optional) choose a setting</option>
                  <option value="balanced">Balanced (default)</option>
                  <option value="fine">Fine</option>
                  <option value="ultrafine">Ultrafine</option>
                  <option value="coarse">Coarse</option>
                  <option value="uniform">Uniform</option>
                </select>
            <p><input type="submit" value="Upload!" id="button" onclick='showHide()'></p>
        </form>
            <div id="loadingimage" class="blink" style="display:none;">
                Loading, please wait...
            </div>

        <!-- List of uploaded images -->
        <div class="image_title"><h2>Your Images:</h2></div>
        <!--(User {{ guid_id }})-->
        {% load thumbnail %}
        {% if documents %}
            <div class="link_text"><em>Copy this <a href="{% url "upload" guid_id=guid_id %}">link</a> to return here later</em>
            </div><br>
                {% for document in documents %}
                    {% thumbnail document.docfile.url "600x600" crop="center" as im %}
                    <a href="{{ document.docfile.url }}"><img src="{{ im.url }}" width="300" height="300"></a>
                    {% endthumbnail %}
                    <br>
                {% endfor %}
        {% else %}
            <p>No images yet, upload one!</p>
        {% endif %}
    </div>
    </body>

</html>
