container_commands:
  #AddGlobalWSGIGroupAccess: 
    #command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
  01_makemigrations:
    command: "python manage.py makemigrations --noinput"
    leader_only: true
  02_migrate_project:
    command: "python manage.py migrate myapp --noinput"
    leader_only: true
  03_migrate_all:
    command: "python manage.py migrate --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "myproject.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "myproject/wsgi.py"

packages:
  yum:
    postgresql95-devel: []
    #make: []
    #gcc-c++: []
    #gcc-gfortran: []
    #lapack-devel: []
