<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pointillizer!</title>
    </head>
    <meta name="viewport" content="width=device-width">
    <style>

        .main {
            font-family: "Arial", Sans-serif;
            text-align: center;
        }
        .title {
            background-color: lightgrey;
            padding: 5px;
            border-radius: 6px;
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
    <body>
    <div class="main">
        <!-- Title section -->
        <div class="title">
        <h1>Pointillizer!</h1>
        <p><a href={% url "info" guid_id=guid_id %}>Info</a>
        &nbsp; &nbsp; &nbsp;
        <a href={% url "upload" guid_id=guid_id %}>Upload</a></p>
        </div>

        <!-- Gallery section -->
        <h2>Gallery:</h2>
        {% load thumbnail %}
        {% if documents %}
                {% for document in documents %}
                    {% thumbnail document.docfile.url "300x300" crop="center" as im %}
                    <a href="{{ document.docfile.url }}"><img src="{{ im.url }}"></a>
                    {% endthumbnail %}
                    <br>
                {% endfor %}
        {% else %}
            <p>No images yet, upload one!</p>
        {% endif %}
    </div>
    </body>

</html>
