<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pointillizer!</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
        <script type="text/javascript"> 
            function showHide() {
                var x = document.getElementById("loadingimage");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <meta name="viewport" content="width=device-width">
    <body>
    <div class="main">
        <!-- Title section -->
        <div class="title">
        <h1>Pointillizer!</h1>
        <p>
        <a href={% url "info" guid_id=guid_id %}>Info</a>
        &nbsp; &nbsp; &nbsp;
        <a href={% url "gallery" guid_id=guid_id %}>Gallery</a>
        &nbsp; &nbsp;
        <a href={% url 'upload' guid_id=guid_id %}>Try it!</a>
        </p>
        </div>

        <!-- Info section -->
        <div class="body">
        <h2>Info on pointillizer:</h2>
        <p> Landscapes or images with good contrast are ideal. Not the best for photos with people.</p>
        <p> Image manipulation built from scratch in Python with Pillow, site deployed using Django on AWS Elastic Beanstalk.</p>
        <p> Images in gallery were uploaded by users or myself and are copyright their original owners</p>
        <p> Some other <a href="https://photos.app.goo.gl/Dv6IObEJnsxKI3bn1">examples</a>, including gifs</p> 
        <p> Check out an experimental feature for gifs <a href={% url 'gif' guid_id=guid_id %}>here</a>, a little slow currently.
         <!-- Contacts and links  -->
            <p><a href="https://github.com/tsennott/etc_projects/tree/master/Pointilism">github</a><br>
            <script type="text/javascript">
            var first = "timothy.sennott";
            var last = "gmail.com";
            document.write('<a href="mailto:'+first + '@' + last+'">email<\/a>');
        </script>
        <noscript>
            Please enable javascript to see my email
        </noscript>
        </div>
    </div>
    </body>

</html>
