<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Pointillism Prototype</title>
    </head>

    <body>
        <h1>Minimal functional prototype of pointillism project</h1>
        <p>This is a proof of concept for "pointillizing" photos. </p>
        <p>Built in Python from scratch with Pillow, deployed in Django on AWS Elastic Beanstal</p>
        <p>Github <a href="https://github.com/tsennott/etc_projects/tree/master/Pointilism">here</a></p>

        <!-- Upload form. Note enctype attribute! -->
        <h2>Upload and pointillize new file:</h2>
        <form action="{% url "list" guid_id=guid_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>

        <!-- List of uploaded images -->
        <h2>Your Images:</h2>
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No images yet.</p>
        {% endif %}

    </body>

</html>
