<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pointillizer!</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
        <script type="text/javascript"> 
            function showHide() {
                var x = document.getElementById("loadingimage");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <meta name="viewport" content="width=device-width">
    <body>
    <div class="main">
        <!-- Title section -->
        <div class="title">
        <h1>Pointillizer!</h1>
        <p>
        <a href={% url "info" guid_id=guid_id %}>Info</a>
        &nbsp; &nbsp; &nbsp;
        <a href={% url "gallery" guid_id=guid_id %}>Gallery</a>
        &nbsp; &nbsp;
        <a href={% url 'upload' guid_id=guid_id %}>Try it!</a>
        </p>
        </div>

        <!-- Image upload section-->
        <h2>Upload an image:</h2>
        <form action="{% url "gif" guid_id=guid_id %}" method="post" enctype="multipart/form-data" id="form">

            <p><input type="file" name="docfile" id="button" style="width: 200px" />
            <p><input type="submit" name="submit" value="Upload!" id="button"
                onclick='javascript:showHide()'></p>
        </form>
            <div id="loadingimage" style="display:none">
                Loading, please wait...
            </div>

        <!-- List of uploaded images -->
        <h2>Your Images:</h2>
        <!--(User {{ guid_id }})-->
        <div class="images">{% load thumbnail %}
        {% if documents %}
                {% for document in documents %}
                    {% thumbnail document.docfile.url "300x300" crop="center" as im %}
                    <a href="{{ document.docfile.url }}"><img src="{{ document.docfile.url }}" width="100%"></a>
                    {% endthumbnail %}
                    <br>
                {% endfor %}
        {% else %}
            <p>No images yet, upload one!</p>
        {% endif %}
        </div>
    </div>
    </body>

</html>
